viewer/node_modules/
viewer/dist/
viewer/dist-verify/
viewer/*.log
models/**/*.lck
models/**/*.sim
models/**/*.023
models/**/*.mdl
models/**/*.pac
models/**/*.stt
models/**/*.sel
models/**/*.abq
models/**/*.res
models/**/*.com
models/**/*.dat
models/**/*.msg
models/**/*.log
models/**/*.prt
models/**/*.sta
models/**/*.env
models/**/*.rec
models/**/abaqus.rpy*
models/**/*.odb
models/**/*.inp
models/text-to-cae-milling-3d/result_mesh.json
models/text-to-cae-cutting/
**/__pycache__/
*.pyc
